@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
 @import url('https://fonts.cdnfonts.com/css/miama-nueva');

                
body {
    /* width: 100%; */
    max-width: 1440px;
    background-color: black;
    color: white;
    margin: 0 auto;
    /* border: 2px solid red; */

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}




/* share style */
.display-flex {
    display: flex;


}

.btn-primary {
    background-color: #E6533C;
    font-size: 1.13rem;
    width: 224px;
    height: 54px;
    color: #ffff;
    border-style: none;
    border-radius: 4.60rem;




}

.btn-secondary {
    background-color: black;
    font-size: 1.13rem;
    width: 224px;
    height: 54px;
    color: #ffff;
    border: 2px solid #ffff;
    border-radius: 4.60rem;




}

.grey-text {
    font-size: 0.87rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;


}

main {
    margin: 0 auto;
    /* padding-left: 100px;
   padding-right: 100px; */
}

section {
    margin-top: 50px;
}


/* header section style */
header,
main,
footer {
    width: 80%;
    margin: 0 auto;
    
}
.hide{
    display: none;
}



.navbar {
    justify-content: space-between;
    align-items: center;
    max-width: 100%;

}

.navbar h3 {
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 900;
    font-style: italic;
}

.navbar .nav-list {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 35px;

}

.navbar .nav-item {
    list-style: none;
    margin-left: 2rem;
    padding: 1rem 1rem;

}

#nav-home {
    background-color: #E6533C;
    border-radius: 2.18rem;
    margin-left: 0px;

}

.navbar .nav-link {
    text-decoration: none;
    font-size: 1.12rem;
    color: #ffff;



}

/* banner style */
.banner {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.banner-content {
    width: 50%;

    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;

}

.banner-title {
    font-size: 4.9rem;

}
.text-modify{
    font-family: 'Miama Nueva', sans-serif;
                                                
}

.banner-discripation {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);

}

.banner-image img {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.banner-image {
    width: 50%;
    position: relative;
    justify-content: center;
    align-items: center;


}

.banner-image .btn3 {
    position: absolute;
    margin-top: -150px;
    left: -50px;
    max-width: 193px;
    max-height: 98px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    text-align: center;


}

.btn3,
.btn4 h3 {
    color: rgba(250, 250, 249, 1);
}

.banner-image .btn4 {
    position: absolute;
    top: 100px;
    right: 50px;
    width: 193px;
    height: 98px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    text-align: center;
    align-items: center;
}



/* habit section */
.habit {
    justify-content: center;
    align-items: center;
    text-align: center;

}

.habit-title {
    font-size: 3rem;
    font-weight: 900;
}

.habit-task {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    align-items: center;
    justify-content: center;
    text-align: center;
}

.task {
    padding: 1.5rem;
    margin: 40px 20px;

}

.task h5 {
    font-size: 1.13rem;
    font-weight: 600;


}

.task img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.running {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.running-tips {
    max-width: 443px;
}

.running-tips h2 {
    font-size: 48px;
    font-weight: bolder;
}

.running-image {
    justify-content: center;
    align-items: center;
    max-width: 366px;
}

.running-image img {
    max-width: 100%;
    border-radius: 10px;
    margin: 0 auto;
}

.exercises-image {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.exercises-card1 {
    max-width: 100%;
    height: 200px;

    background: url(images/exercise1.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #06FFD280;
}

.exercises-card2 {

    background: url(images/exercise2.png);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(255, 0, 0, 0.3);

    max-width: 100%;
    height: 200px;
}

.exercises-card3 {


    max-width: 100%;
    height: 200px;
    background: url(images/exercise3.png);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #00000080;
}

.exercises-card4 {

    max-width: 100%;
    height: 200px;
    background: url(images/exercise4.png);
    background-size: cover;
    background-blend-mode: multiply;
    border-color: #00000080;
}

.exercises-card5 {

    max-width: 100%;
    height: 200px;
    background: url(images/exercise5.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #42FF004D;
}

.exercises-card6 {

    max-width: 100%;
    height: 200px;
    background-image: url(images/exercise6.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #0047FF4D;


}







.ex-tital {
    position: absolute;
    margin-top: -150px;
    margin-left: 70px;

}

/* bmi calculator */
.bmi-content {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.chart {
    width: 50%;
}

.chart tbody {
    color: rgba(255, 255, 255, 0.525);

}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid rgba(250, 250, 249, 1);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 160px;
    height: 40px;
}

/* Calculate your BMI */
.calculator-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;


}

input,
select {
    background-color: rgba(255, 255, 255, 0.179);
    height: 35px;
    border-style: none;
    border-radius: 5px;
    max-width: 100%;
    margin: 0;


}



.team {
    max-width: 1060px;
    /* border: 2px solid red; */
}

.team-content {
    text-align: center;
}

.team-card {
    max-width: 326px;
    margin: 0 auto;
    padding: 0px;

}

.team-image {
    background-color: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  



}

.team-img{
    max-width: 300px;
}


.team-img img {
    width: 100%;
    height: 272px;

    border-radius: 20px;
   
    position: relative;
    margin: 0 auto;
}

.trainer-name {
    position: absolute;
    margin-left: 20px;
    margin-top: -100px;

}

footer {

    background-color: rgba(255, 255, 255, 0.1);
}

footer .brand h1 {
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 900;
    font-style: italic;
}

.brand {
    max-width: 50%;
}

footer .get {
    width: 50%;
    justify-content: space-between;
}

.get-started1,.get-started2 {

   list-style: none;
   color: rgba(143, 142, 142, 0.85);
   
}



@media screen and (max-width:576px) {
    body {
        margin: 0 auto;
        width: 100%;
    }

    ul.nav-list,
    .nav-item {
        display: none;
    }

    .banner,
    .running,
    .bmi-calculator,
    .footer1,
    .get {
        flex-direction: column;
    }


    .banner-title {
        font-size: 2.9rem;

    }
    .btn4{
        position: absolute;
        right: 0px;

    }

    .banner-content,
    .running-tips,
    .brand,
    .get,
    .chart,.banner-image {
        width: 100%;
    }

    .habit-task,
    .team-image ,.calculator-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .get-started1 {

        min-width: 100%;

    }

    .get-started2 {
        width: 100%;



    }

    .banner-image .btn4 {
        position: absolute;
        top: 100px;
        right: 0px;
        width: 150px;
        height: 98px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        text-align: center;
        align-items: center;
    }
    .banner-image .btn3 {
        position: absolute;
        margin-top: -150px;
        left:0px;
        max-width: 193px;
        max-height: 98px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        text-align: center;}
    





}